<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <th:block>
  <div class="row" style="background-color: #D4DCDC; height: 250px;">
	  <div class="col-sm-4" style="padding: 60px;">
	    <a class="name" href="../main" style="font-size: 50pt;">
        <span style="color: #00B0F0" class="name">원</span>클래스</a>
	  </div>
	  <div class="col-sm-4" style="padding-top: 50px;">
	    <h3 class="">원클래스에 오신걸 환영합니다.<br></h3>
	    	<h4>저희 원클래스는 자기개발에 도움이 되는 다양한 정보를 제공합니다.</h4>
	    	<h4>강의와 도서 정보를 마음껏 누려보세요.</h4>
	  </div>
	  <div class="col-sm-4" style="padding: 50px;">
	    <h2 class="title" style="text-align: right;">3차(개인)프로젝트
	      <br>by 박지원
	      <br>010-6436-1907
	      <br><a href=""></a>
	    </h2>
	  </div>
	</div>
 </th:block>
</body>
</html>