<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand name" href="../main" style="font-size: 23pt;">
        &nbsp;&nbsp;&nbsp;<span style="color: #00B0F0" class="name">원</span>클래스</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a ></a></li>
      <li><a ></a></li>
      <li><a href="#" class="title" style="font-size: 18pt;">강의</a></li>
      <li><a href="#" class="title" style="font-size: 18pt;">도서</a></li>
      <li><a href="#" class="title" style="font-size: 18pt;">커뮤니티</a></li>
    </ul>
  </div>
</nav>
</th:block>
</body>
</html>